.update-role{
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
    align-items: center;
    justify-content: center;

    .box{
        // width: 60vh;

        .buttons{
            display: flex;
            justify-content: space-around;
        }
    }
}